In [23]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import os

In [25]:
path = r"E:\yyz-python\百度迁徙（11.22）\市到市转换后"
reader = os.listdir(path)

In [52]:
uu=[]
for sheet in tqdm(reader):
    ll = pd.DataFrame()
    df = pd.read_csv(path + "/" + sheet)
    ll = df.drop(["Unnamed: 0","index","Unnamed: 0.1","Unnamed: 0.1.1","o_city","2021-09-13"],axis=1)
    ll["city_name"] = df["city_name"]+sheet[:-4]
    uu.append(ll)

100%|████████████████████████████████████████████████████████████████████████████████| 366/366 [00:11<00:00, 31.55it/s]

In [61]:
hh = pd.read_csv("E:\yyz-python\百度迁徙（11.22）\市到市转换后\-七台河市.csv")
hh= hh.drop(["Unnamed: 0","index","Unnamed: 0.1","Unnamed: 0.1.1","o_city","2021-09-13"],axis=1)
kk = hh.columns.to_list()
gg = pd.DataFrame(columns = kk)
gg

Empty DataFrame
Columns: [city_name, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, ...]
Index: []

[0 rows x 433 columns]

In [62]:
for i in tqdm(uu):
    gg= gg.append(i)
gg

100%|████████████████████████████████████████████████████████████████████████████████| 366/366 [00:18<00:00, 19.87it/s]

,city_name,0,1,2,3,4,5,6,7,8,...,422,423,424,425,426,427,428,429,430,431
0,哈尔滨市-七台河市,0.026561225160000004,0.029249,0.029580,0.030875,0.034406,0.038384,0.027798,0.023677,0.020762,...,0.013994,0.009783,0.008521,0.012635,0.012115,0.013604,0.013381,0.016583,0.013511,0.012989
1,佳木斯市-七台河市,0.013637331720000001,0.014252,0.013218,0.014799,0.016361,0.018886,0.020596,0.016524,0.018559,...,0.005892,0.004826,0.005249,0.006607,0.006188,0.006346,0.006284,0.006609,0.007547,0.009294
2,鸡西市-七台河市,0.011398611600000002,0.011526,0.011916,0.012760,0.013210,0.015804,0.016844,0.016524,0.013213,...,0.006639,0.005959,0.004696,0.007095,0.008617,0.006932,0.007029,0.010011,0.009199,0.007933
3,双鸭山市-七台河市,0.0084874554,0.007867,0.007607,0.009358,0.011239,0.013761,0.013050,0.012081,0.010490,...,0.009489,0.009945,0.007678,0.009394,0.010173,0.009035,0.008549,0.010949,0.011500,0.009847
4,牡丹江市-七台河市,0.007642810080000001,0.008261,0.007770,0.009809,0.009946,0.011071,0.010298,0.007547,0.008580,...,0.004601,0.003790,0.002978,0.005313,0.004597,0.005699,0.006055,0.006670,0.005633,0.003498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,吐鲁番市-龙岩市,0.0.187,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
288,双鸭山市-龙岩市,0.0.188,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
289,吴忠市-龙岩市,0.0.189,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
290,海南藏族自治州-龙岩市,0.0.190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
291,乌兰察布市-龙岩市,0.0.191,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [63]:
gg.to_csv(r"E:\yyz-python\百度迁徙（11.22）\gg.csv",encoding = "gbk")

,0,1,2,3,4,5,6,7,8,9,...,422,423,424,425,426,427,428,429,430,431
0,0.026561225160000004,0.029249,0.029580,0.030875,0.034406,0.038384,0.027798,0.023677,0.020762,0.012631,...,0.013994,0.009783,0.008521,0.012635,0.012115,0.013604,0.013381,0.016583,0.013511,0.012989
1,0.013637331720000001,0.014252,0.013218,0.014799,0.016361,0.018886,0.020596,0.016524,0.018559,0.014542,...,0.005892,0.004826,0.005249,0.006607,0.006188,0.006346,0.006284,0.006609,0.007547,0.009294
2,0.011398611600000002,0.011526,0.011916,0.012760,0.013210,0.015804,0.016844,0.016524,0.013213,0.008875,...,0.006639,0.005959,0.004696,0.007095,0.008617,0.006932,0.007029,0.010011,0.009199,0.007933
3,0.0084874554,0.007867,0.007607,0.009358,0.011239,0.013761,0.013050,0.012081,0.010490,0.006994,...,0.009489,0.009945,0.007678,0.009394,0.010173,0.009035,0.008549,0.010949,0.011500,0.009847
4,0.007642810080000001,0.008261,0.007770,0.009809,0.009946,0.011071,0.010298,0.007547,0.008580,0.006540,...,0.004601,0.003790,0.002978,0.005313,0.004597,0.005699,0.006055,0.006670,0.005633,0.003498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,0.0.254,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
348,0.0.255,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
349,0.0.256,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
350,0.0.257,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
351,0.0.258,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000030,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

0       廊坊市-北京市
1       天津市-北京市
2       保定市-北京市
3      张家口市-北京市
4      石家庄市-北京市
         ...
215     黄山市-北京市
216     湖州市-北京市
217     拉萨市-北京市
218     湛江市-北京市
219    双鸭山市-北京市
Name: city_name, Length: 220, dtype: object